[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = ssh://git@github.com/nkinani/scientific-profile
